@charset "UTF-8";
/* o id do HTML é = # no CSS 
a class do HTML é = . no CSS . */

body {
    background-color: #243446;
    color: rgb(255, 255, 255);
}

label {
    font-size: 13px;
}
div#login {
    display: flex;
    margin: auto;
    flex-direction: column; 
    gap: 5px; 
    border: 2px solid rgb(177, 177, 177);
    width: 15%;
    padding: 20px;
    border-radius: 10px;
    background-color: #96969646;
}

.header {
    position: fixed;    
    top: 0;             
    left: 0;            
    width: 100%;        
    /* background-color: #2c3e50;  */
    padding: 10px 0;    
    text-align: center; 
    z-index: 1000;      
}

.footer {
    text-align: center; 
    position: fixed;    
    bottom: 0;          
    left: 0;            
    width: 100%;        
    background-color: #2c3e50; 
    padding: 2px 0;    
}

main{
    margin-top: 200px;   
    margin-bottom: 100px;
}

.loginH2 {
    margin: auto;
    text-align: center;
}

.InLogReg {
    display: block;
    width: 90%;
}

.ButLogReg {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: #ffffff solid 1px;
    cursor: pointer;
}

.ButLogReg:hover {
    background-color: #24394e;
    color: rgb(255, 255, 255);
}


.DivInterna {
    display: flex;
    margin: auto;
    flex-direction: column;
    /* border: 2px solid rgb(255, 255, 255);  ver borda do div */
    margin-bottom: 20px;
}

.AsideLeft,
.AsideRight {
    /* Caso deseje algum */
    position: fixed;
    top: 0;
    bottom: 0;
    width: 0; 
    background-color: #2c3e50; 
}

.AsideLeft {
    left: 0;
}

.AsideRight {
    right: 0;
}